table{
    width: 100%;
}

table, td, tr, th{
    padding: 10px;
    border: 1px solid green;
    border-collapse: collapse;
}

table >thead{
    background-color: whitesmoke;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
  }